<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <link href="../../static/acceso.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="d-flex align-items-center justify-content-center vh-100 py-4 bg-dark">
        <main class=" form-signin w-100 m-auto " style='max-width: 350px;' data-bs-theme="dark">
            <form>

                <div style="text-align: center;">
                    <img src="https://firebasestorage.googleapis.com/v0/b/practica01-8cd5e.appspot.com/o/Dise%C3%B1o%20sin%20t%C3%ADtulo%20(26).png?alt=media&token=17fe0302-b53c-49a6-ba55-2484dc004954" alt="" width="100" height="100">
                        <h1 class="h3 mb-3 fw-normal text-white">Cambiar Contraseña</h1>
                </div>

                <div class="form-floating">
                    <input type="email" class="form-control bg-dark text-white" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" class="text-white">Usuario</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="password" class="form-control bg-dark text-white" id="floatingPassword" placeholder="Contraseña">
                        <label for="floatingPassword" class="text-white">Contraseña</label>
                </div>

                <div class="form-floating my-3">
                    <input type="password" class="form-control bg-dark text-white" id="floatingPassword" placeholder="Confirmar Contraseña">
                        <label for="floatingPassword" class="text-white">Confirmar contraseña</label>
                </div>
                
                <button class="btn btn-light w-100 py-2 fw-bolder" type="submit">CAMBIAR CONTRASEÑA</button>
            </form>
        </main>
    </body>
</html>