<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <link href="../../static/acceso.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="d-flex align-items-center justify-content-center vh-100 py-4 bg-dark">
        <main class=" form-signin w-100 m-auto " style='max-width: 350px;' data-bs-theme="dark">
            <form method="POST" th:action="@{/acceso/crearUsuario}" th:object="${usuario}" class="was-validated">

                <div style="text-align: center;">
                    <img src="https://firebasestorage.googleapis.com/v0/b/practica01-8cd5e.appspot.com/o/Dise%C3%B1o%20sin%20t%C3%ADtulo%20(26).png?alt=media&token=17fe0302-b53c-49a6-ba55-2484dc004954" alt="" width="100" height="100">
                        <h1 class="h3 mb-3 fw-normal text-white">Crear cuenta</h1>
                </div>
                
                <div class="form-floating">
                    <input type="text" class="form-control bg-dark text-white" placeholder="Nombre de usuario" required="true" name="usuario">
                        <label for="usuario" class="text-white" >Usuario</label>
                </div>

                <div class="form-floating mt-3">
                    <input type="email" class="form-control bg-dark text-white" placeholder="name@example.com" required="true" name="correo">
                        <label for="correo" class="text-white" >Correo</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control bg-dark text-white" placeholder="Contraseña" required="true" name="contrasena">
                        <label for="contrasena" class="text-white">Contraseña</label>
                </div>

                <button class="btn btn-light w-100 py-2 fw-bolder" type="submit">CREAR CUENTA</button>
                <div class="text-center d-flex justify-content-center mt-3">
                    <p class='text-white pe-2'>¿Ya tienes una cuenta? </p><a href="/acceso/inicioSesion" class='text-primary text-decoration-none '>Inicia Sesión</a>
                </div>
            </form>
        </main>
    </body>
</html>