<!<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
    </head>
    <body>   
        <section th:replace="~{layout/plantilla :: header1}"></section>
        
        <header th:replace="~{layout/plantilla :: header2}"></header>
        
        <br>
        <br>
            
        <section th:replace="~{layout/plantilla :: carrusel}"></section>
        
        <br>
        <br>
            
            
        <section th:replace="~{layout/plantilla :: titulo}"></section>
        <center>
        <table th:replace="~{layout/plantilla :: categorias}"></table>
        </center>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>